<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @video.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @video.published_at %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @video.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @video.dislikes %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @video.uid %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
